.reveal pre code {
    max-height: 640px;
}

.reveal p code, .reveal ul code {
    font-weight: bold;

    /* Uncomment below to put background behind in-line code snippets */
    /*#box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
    background: #f8f8ff;
    padding: 0.1em;*/
}

.reveal pre {
    display: block;
    position: relative;
    width: auto;
    margin: auto;

    text-align: left;
    font-size: 0.70em;
    font-family: monospace;
    line-height: 1.3em;

    word-wrap: break-word;

    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}

.reveal p {
    font-size: 1.1em;
}

.reveal h2 {
    padding-bottom: 30px;
}

.reveal pre code {
    display: block;
    padding: 0.5em;
    color: #333;
    background: #f8f8ff;
    font-weight: bold;
}

.reveal ul li {
    line-height: 1.5em;
    font-size: 1.1em;
}